@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;700&display=swap');

/***************************** General ********************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

h2{
    font-size:30px;
    font-family: 'Poppins';
}

.p-grey {
    font-family: 'Poppins';
    padding-top: 15px;
    color: grey;
    padding-bottom: 30px;

}

li {
    list-style: none;
}

body{
    position: relative;
}

/********** HEADER **********/

/* Background */

.acceuil-introduction{
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    width: 100%;
    font-family: 'Poppins';
    font-weight: 300;
    min-height: 100vh;
}
    

/* Barre de navigation */

nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
   
}

nav a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

nav a:hover {
    opacity:0.5;
  }

.logo a {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 30px;
}

.menu a {
    padding: 10px;
}

.reseaux a {
    padding: 5px;
}

/* Section Acceuil introduction */


.intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 100%; 
}

.contenu {
    max-width: 400px;
    margin-right: 120px;
}

.intro img {
    display: block;
    height: auto;
    width: 100%;
    max-width: 650px;
}

.acceuil-introduction h1 {
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
    
} 

.acceuil-introduction p {
    text-align: justify;
    font-weight: 300;
    margin-bottom: 30px;
}

.email-form {
    display: flex;
    font-weight: 300;
    background: white;
    padding: 10px 10px 10px 20px;
    border-radius: 50px;
    margin-right: 30px;
}

.email-form input {
    border: 0px;
    margin-right: 90px;
    color: grey;
    outline: 0;
}

.email-form .submit {
    border: 0px;
    background: #269CC2;
    color: white;
    padding: 15px 25px 15px 25px;
    border-radius: 50px;
    transition: 0.5s;
    
}

.email-form .submit:hover {
    opacity: 0.6;

}

/********** PRODUCT FEATURES **********/

.products-features{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

.pf-intro {
    margin-top: 80px;
    margin-bottom: 80px;
}

.pf-intro h2 {
    font-size: 40px;
}

/* Product FlexCards*/

#card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    margin: 10px 15px 10px 15px;
    border-radius: 10px;
    max-width: 400px;
    max-height: 400px;
    color: white;
    transition: 0.5s;
}

@media screen and (max-width: 1200px) {
    .card{
        max-width: 170px;
        height: 170px;
    }
    }
    
    .products-features{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    min-height: 100vh;
    }
   

.card i {
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.card p {
    font-size: 24px;
    padding: 30px
}

.card:hover{
    transform: translateY(-15px);
}

/********** TEAM MEMBERS **********/


.team{
    min-height: 90vh;
}

.intro-team {
    text-align: center;
}

#team-container {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 margin-top: 80px;
}


#team-container li {
    margin-top: 20px;
    list-style: none;
    text-align: center;
}

#team-container h4{
    font-size: 25px;
}

.p-grey-member{
    color: grey;
    margin-bottom: 20px;
}

.nom-member{
    margin-top: 20px;
    font-weight: 700;
}

.img-member {
    
    position: relative;
    transition: 0.5s;
    overflow: hidden;
    border-radius: 150px;
}

.img-member img{
    display: block;
    height: auto;
    max-width: 300px;
    border-radius: 180px;
    transition: 0.5s;
    filter: grayscale(1);
}

.img-member:hover img{
    transform: scale(1.1);
    filter: grayscale(0);
    
}


.img-member:hover .reseaux-img{
    top: 80px;
    left: 35px;
    opacity: 1;
}

.reseaux-img{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top : -80px;
    left: 0px;
    opacity: 0;
    transition: 0.5s;
    
}

.reseaux-img i {
    margin: 5px;
    padding: 5px;
    background: white;
    border-radius: 50px;
}

.reseaux-img a {
    color: black;
    text-decoration: none;
}

/********** PARRALAX **********/

.parallax{ 
    height: 300px;
    width: 100%;
}


.parallax-titre{
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: 600;
}

.parallax-p {
    color: white;
    text-align: center;
    margin: 20px 0px 20px 0px;
    font-size: 20px;
}

.parallax-button {
    background-color: transparent;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    border: solid white 1px;
    transition: 0.5s;
    width: 200px;
    margin: auto;
}



.parallax-button:hover {
    color: black;
    background: white;
    transform: translateY(-10px);

}

.parallax{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),  url(/img/parallax.png);
    background-attachment: fixed; 
    background-position: center;
    height: 600px;
     
}

.parallax-img{
    display: flex;
    flex-direction: column;
}

/********** CLIENT **********/



.client{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    background: #f3f3f3;
}

.client-intro {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.client-images{
    min-height:80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 200px;
}
.client-images img {
    display: flex;
    height: auto;
    width: 100px;
    opacity: 0.4;
    margin: 0px 80px 0px 80px;
}

@media screen and (max-width: 1200px) {

    .client{
        max-height: 800px;
    }

    .client-images img {
        margin-bottom: 20px;
    }
    }

/********** PRICING **********/



    

.intro-pricing{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
}



.intro-pricing img {
    display: block;
    height: auto;
    width: 100%;
    max-width: 500px;
}



.intro-pricing .pricing-text{
    margin : 20px 0px 20px 0px;
    color: grey;
}

.number {
    display: flex;
    margin: 20px 0px 20px 0px;
}

.number p{
    font-weight: 600;
    margin-right: 30px;
}

.number span{
    color: grey;
    font-weight: 300;
    font-size: 13px;
}

.contenu-pricing{
    width:40%;
    margin-right: 80px;
}

.contenu-pricing button {
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    border: 0px;
    background-color: #3f8ffe;
    color: white;
}

@media screen and (max-width: 1200px) {

    .intro-pricing{
        max-height: 600px;
    }

    .intro-pricing img{
        display: none;
    }

    .contenu-pricing{
        width: 100%;
        margin: auto;
    }

    
   .contenu-pricing button {
    text-align: center;
   }
    }

/******* Flexcards pricing ******/


/* Intro */


.intro-pricing{
    height: 500px;
}

.our-pricing h3 {
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
}

.our-pricing p {
    text-align: center;
}

/* Cards */



.pricing-cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 20px 0px 20px 0px;
}

.pricing-cards button {
    padding: 10px 30px 10px 30px;
    border-radius: 5px;
    border: 0px;
    background-color: #3f8ffe;
    color: white;
}



.cards-details{
    display: flex;
    justify-content: space-between;
    margin: 20px 0px 20px 0px;
}

.pricing-cards{
    min-width: 300px;
    background: white;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
}

.cards-details-title {
    background: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    padding-top: 20px;
    position: relative;
}

.cards-details-title .price {
    font-size: 60px;
    color:#3f8ffe;
}
.cards-details-title .month {
    font-size: 11px;
    color: grey;
}

.fa-circle-xmark {
    color: red;
}

.fa-circle-check {
    color: green;
}

.pricing-button button{
    width: 100%;
}
.li-pricing-card{
    border-radius: 10px 10px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.middle-element{
    transform: translateY(-20px);
}

.sales {
    font-size: 14px;
    line-height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    background: #3f8ffe;
    color: white;
    padding: 15px;
    border-radius: 0px 10px 0px 10px;
}

@media screen and (max-width: 1200px) {
    .middle-element{
        transform: translateY(0px);
        margin: 0px;
    }

    .pricing-cards-container{
        
    }

}


/********** SECTION BLOG **********/


.blog{
    min-height: 90vh;
}

@media screen and (max-width: 1200px) {
    .blog{
        padding: 20px;
    }
    }

.intro-blog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}


#blog-container {
    display: flex;
    min-height: 60vh;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    
}

.blog-card{
    background: white;
    width: 450px;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.5s;
}

.blog-header{
    position: relative;
}

.blog-header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
    border-radius: 10px;
    margin-bottom: 10px;
    
}

.blog-text p {
    color: grey;
    margin: 10px 0 10px 0;
}

.blog-text a {
    text-decoration: none;
    color: #1294b8;
}

.blog-auteur{
    position: absolute;
    top: 30px;
    left: 30px;
    opacity: 0;
    transition: 1s;
}

.blog-header p {
    color: white;
}

.blog-header:hover .blog-auteur{
    opacity: 1;
}

.blog-header:hover img {
    filter: brightness(80%);
}

.credit-auteur{
    font-weight: 600;
}

.credit-texte {
    font-size: 12px;
}



/******* SCROLL UP ******/

.fa-circle-chevron-up{
    position: absolute;
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 50px;
    opacity: 0.7;
    color: black;
}

/******* FOOTER ******/

footer {
    background: #26272b;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-bottom: 60px;
}

footer i  {
    color: grey;
}

footer p {
    color: grey;
}

.footer-socials{
    margin-top: 60px;
}

.footer-socials i{
    padding: 10px 10px;
    border: 1px solid grey;
    margin: 0 40px 0 40px;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50px;
}

.footer-cgv{
    margin: 20px 0 20px 0;
    display: flex;
    flex-wrap: wrap;
}

.footer-cgv p {
    margin: 0 30px 0 30px ;
}

@media screen and (max-width: 1200px) {
    .footer-cgv{
        
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .footer-socials i {
        
        margin: 0px 10px 0px 10px;
    }

    footer p {
        text-align: center;

    }
    }
    