@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;700&display=swap');

/***************************** General ********************************/

* {
    margin: 0;
}

/********** HEADER **********/

/* Background */

header{
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    font-family: 'Poppins';
    font-weight: 200;
}

/* Barre de navigation */

nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}

nav a {
    text-decoration: none;
    color: white;
}

.logo a {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 30px;
}

.menu a {
    padding: 10px;
}

.reseaux a {
    padding: 5px;
}

/* Section Acceuil introduction */

.acceuil-introduction{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 75%;
    justify-content: center;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 80px;
}

.intro {
    margin-right: 100px;
    max-width: 300px;
}
.acceuil-introduction img {
    height: 600px;
    width: 600px;
}

.acceuil-introduction h1 {
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
} 

.acceuil-introduction p {
    text-align: justify;
    font-weight: 300;
    margin-bottom: 30px;
}

.email-form {
    font-weight: 300;
    background: white;
    display: inline-block;
    padding: 13px 190px 13px 20px;
    border-radius: 50px;
}

.email-form input {
    border: 0px;
    font-family: 'Poppins';
    color: grey;
    outline: 0;
}

.email-form .submit {
    border: 0px;
    font-family: 'Poppins';
    background: #269CC2;
    color: white;
    padding: 10px 25px 10px 25px;
    border-radius: 50px;
    
}




