@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;600;700&display=swap');

/***************************** General ********************************/

* {
    margin: 0;
    padding: 0;
}

h2{
    font-size:30px;
    font-family: 'Poppins';
}

.p-grey {
    font-family: 'Poppins';
    padding-top: 15px;
    color: grey;
    padding-bottom: 30px;

}


/********** HEADER **********/

/* Background */

.acceuil-introduction{
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    width: 100%;
    font-family: 'Poppins';
    font-weight: 300;
}
    

/* Barre de navigation */

nav {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
   
}

nav a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

nav a:hover {
    opacity:0.5;
  }

.logo a {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 30px;
}

.menu a {
    padding: 10px;
}

.reseaux a {
    padding: 5px;
}

/* Section Acceuil introduction */

.intro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 80%; 
    
}

.contenu {
    max-width: 400px;
    margin-right: 120px;
}

.intro img {
    display: block;
    height: auto;
    width: 100%;
    max-width: 650px;
}

.acceuil-introduction h1 {
    font-family: 'Poppins';
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
    
} 

.acceuil-introduction p {
    text-align: justify;
    font-weight: 300;
    margin-bottom: 30px;
}

.email-form {
    display: flex;
    font-weight: 300;
    background: white;
    padding: 10px 200px 10px 20px;
    border-radius: 50px;
}

.email-form input {
    border: 0px;
    margin-right: 90px;
    font-family: 'Poppins';
    color: grey;
    outline: 0;
}

.email-form .submit {
    border: 0px;
    font-family: 'Poppins';
    background: #269CC2;
    color: white;
    padding: 15px 25px 15px 25px;
    border-radius: 50px;
    transition: 0.5s;
    
}

.email-form .submit:hover {
    opacity: 0.6;

}

/********** PRODUCT FEATURES **********/

.products-features{
    font-family: 'Poppins';
    text-align: center;
    width: 100%;
}

.pf-intro {
    margin-top: 80px;
    margin-bottom: 80px;
}

.pf-intro h2 {
    font-size: 40px;
}

/* Product FlexCards*/

#card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    background: radial-gradient(rgb(139, 195, 245), #1294b8);
    margin: 10px 15px 10px 15px;
    border-radius: 10px;
    max-width: 400px;
    height: 400px;
    color: white;
    transition: 0.5s;
}

.card i {
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.card p {
    font-size: 24px;
    padding: 30px
}

.card:hover{
    transform: translateY(-15px);
}

/********** TEAM MEMBERS **********/

.intro-team {
    text-align: center;
}

#team-container {
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 margin-top: 80px;
}

#team-container li {
    margin-top: 20px;
    list-style: none;
    font-family: 'Poppins';
    text-align: center;
}

#team-container h4{
    font-size: 25px;
}

.p-grey-member{
    color: grey;
    margin-bottom: 20px;
}

.nom-member{
    margin-top: 20px;
    font-weight: 700;
}

.img-member {
    
    position: relative;
    transition: 0.5s;
    overflow: hidden;
    border-radius: 150px;
}

.img-member img{
    display: block;
    height: auto;
    width: 100%;
    max-width: 300px;
    border-radius: 180px;
    transition: 0.5s;
    filter: grayscale(1);
}

.img-member:hover img{
    transform: scale(1.1);
    filter: grayscale(0);
    
}


.img-member:hover .reseaux-img{
    top: 80px;
    left: 35px;
    opacity: 1;
}

.reseaux-img{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top : -80px;
    left: 0px;
    opacity: 0;
    transition: 0.5s;
    
}

.reseaux-img i {
    margin: 5px;
    padding: 5px;
    background: white;
    border-radius: 50px;
}

.reseaux-img a {
    color: black;
    text-decoration: none;
}

/********** PARRALAX **********/

.parallax{ 
    height: 300px;
    width: 100%;
}


.parallax-titre{
    font-family: 'Poppins';
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: 600;
}

.parallax-p {
    font-family: 'Poppins';
    color: white;
    text-align: center;
}

.parallax-button {
    background-color: transparent;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    color: white;
    font-family: 'Poppins';
    border: solid white 1px;
    margin : auto
}

.parallax {
    background-color: #000000;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),  url(/img/parallax.png);
    background-attachment: fixed; 
    height: 400px;
    top: 0;  
}

.parallax  {
    display: flex;
    justify-content: center;
    align-items: center;
}

